# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
nhl-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (keep data out of Git)
data/
*.csv

# OS/system files
.DS_Store
Thumbs.db

nhl-env/
data/
